<div>
    <div class="card text-white bg-info mb-3" style="max-width: 100rem;">
        <div class="card-header">Car Finance</div>
        <div class="card-body">
            <h1 class="card-title">ยินดีต้อนรับ</h1>
            <h2 class="card-text">อยากมีเงินใช้ รถคุณช่วยได้ ติดต่อได้ที่สาขาใกล้บ้านคุณ.</h2>
            <h2 class="card-text">กดค้นหาจุดชำระเงินด้านบนเพื่อหาจุดใกล้คุณ.</h2>
            <h2 class="card-text">ไม่ทราบราคารถ ? ไม่ทราบว่ารถของคุณจะได้เงินเท่าไหร่ ?</h2>
            <h2 class="card-text">กดประเมิณราคารถ เพื่อดูราคาเบื้องต้นด้านบนได้เลย</h2>
            <h2 class="card-text">เบอร์ด่วน สาขาใหญ่ Tel:098-XXXXXXX</h2>
        </div>
    </div>
</div>
